
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-family: "Lucida Console", Courier, monospace;
    background-color: darkgray;
}

body {
    position: relative;
    padding: 10px;
    height: 100%;
    width: 100%;
    margin: 0;

    background: white;
}

.bodyContainer {
    text-align: center;
}

.grid {
    display: inline-flex;
    flex-wrap: wrap;
    width: 200px;
    height: 400px;
    margin: 10px;
    vertical-align: top;

    background-color: steelblue;
    border: medium solid black;
    border-radius: 5px;
}

.tetromino {
    background-color: blue;
}

.grid div {
    width: 20px;
    height: 20px;
}

.minigrid {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 80px;
    height: 80px;
    margin-top: 5px;

    background-color: steelblue;
    border: medium solid black;
    border-radius: 5px;
}

.minigrid div {
    width: 20px;
    height: 20px;
}

.sidebarContent {
    display: inline-flex;
    flex-direction: column;
    top: 50%;
    width: 180px;
    margin: 10px;
}

.scoreContainer {
    padding: 10px;
    width: 155px;
    text-align: center;

    background-color: steelblue;
    border: medium groove black;
    border-radius: 5px;
}

.scoreContainer #scoreCount {
    padding: 10px;
    height: 15px;
    margin: 10px;

    background-color: steelblue;
    border: medium solid black;
    border-radius: 5px;
}

.scoreContainer #startButton {
    cursor: pointer;
    margin-right: 2px;

    background-color: steelblue;
    border: medium groove black;
    border-radius: 5px;
}

.scoreContainer #startButton:hover, .scoreContainer #restartButton:hover {
    background-color: dodgerblue;
}

.scoreContainer #scoreButton:focus, .scoreContainer #restartButton:focus {
    outline: none;
}

.scoreContainer #restartButton {
    cursor: pointer;
    margin-top: 5px;

    background-color: steelblue;
    border: medium groove black;
    border-radius: 5px;
}
